---
title: Welcome to the Cloud Foundry Community
---

<div id='billboard-homepage'>
  <div id='billboard-banner'>
    <div id='learn-more-container'>
      <a href="/about/index.html#the-cloud-foundry-foundation" class="learn-more">Learn More</a>
    </div>
  </div>

  <div id='twitter-block'>
    <a class="twitter-timeline" href="https://twitter.com/cloudfoundry" data-widget-id="380826923938480129" data-chrome="nofooter noheader transparent noscrollbar"  data-theme="dark" width="290px" height="320px">Tweets by @cloudfoundry</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div><!--end of twitter-block-->
</div><!--end billboard-homepage-->


<div class="news-homepage">
  <div class="column-title">
    <h3>Updates</h3>
  </div>

  <div class='view-content'>
    <div id="updates">Loading...</div>
    <% if @blogentries %>
      <% @blogentries.take(4).each do |i| %>
        <p>
          <span class="views-field-timestamp"><%= i.published.strftime("%B %d, %Y") %></span>
          <br>
          <a href = "<%= i.url %>" target="_blank"><%= i.title %></a>
        </p>
      <% end %>
    <% end %>

    <div class="button-more">
      <a href="http://blog.cloudfoundry.org/">Read more</a>
    </div>

  </div><!--end of view-content-->
</div><!--end of news-homepage-->


<div class="discussions-homepage">
  <div class="column-title">
    <h3>Latest Discussions</h3>
  </div>

  <div class='view-content'>
    <div id="discussions">Loading...</div>
    <% if @discussionentries %>
      <% @discussionentries.take(4).each do |i| %>
        <p>
          <span class="views-field-timestamp"><%= i.published.strftime("%B %d, %Y") %></span>
          <br>
          <a href = "<%= i.url %>" target="_blank"><%= i.title %></a>
        </p>
      <% end %>
    <% end %>

    <div class="button-more">
      <a href="http://groups.google.com/a/cloudfoundry.org/groups/dir" target='_blank'>Read more</a>
    </div>

  </div><!--end of view-content-->
</div><!--end of discussions-homepage-->


<div class="commits-homepage">
  <div class="column-title">
    <h3>Recent GitHub Commits</h3>
  </div>

  <div class='view-content'>
    <div id="commits">Loading...</div>
    <% if @commitentries %>
      <% @commitentries.take(4).each do |i| %>
        <p>
          <span class="views-field-timestamp"><%= i.published.strftime("%B %d, %Y") %></span>
          <br>
          <a href = "<%= i.url %>" target="_blank"><%= i.title %></a>
        </p>
      <% end %>
    <% end %>

    <div class="button-more">
      <a href="http://github.com/cloudfoundry" target='_blank'>Go to GitHub</a>
    </div>

  </div><!--end of view-content-->
</div><!--end of commits-homepage-->
